body {
    background-color: black;
    color: white;
    font-family: 'Crimson Text', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-weight: 300;
}

.snowflake {
    position: fixed;
    top: -50px;
    color: white;
    user-select: none;
    z-index: 9999;
}

@keyframes fall {
    to { transform: translateY(100vh); }
}

@keyframes sway {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(50px); }
}