body {
    background-color: black;
    color: white;
    font-family: 'Crimson Text', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

h1 {
    font-weight: 300;
    margin: 0; 
    font-size: 3em
}

.caption {
    font-size: 1.2em;
    color: #ffffff;
    font-style: italic; 
    margin-top: 0; 
    margin-bottom: 1em; 
}

.github-link {
    margin-top: 2em; 
}

.github-link a {
    color: #ffffff; 
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center; 
    transition: all 0.3s ease;
    transform-origin: center; 
}

.github-link a:hover {
    color: #808080; 
    text-decoration: underline;
    transform: scale(1.2); 
}

.github-icon {
    width: 20px; 
    height: 20px; 
    margin-right: 8px; 
    transition: transform 0.3s ease;
    object-fit: contain; 
}

.github-link a:hover .github-icon {
    transform: scale(1.2); 
}

p a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}

p a:hover {
    color: #808080;
    text-decoration: underline;
}

.snowflake {
    position: absolute;
    top: -10px;
    color: white;
    font-size: 20px;
    opacity: 0.8;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}

@keyframes sway {
    0% { transform: translateX(0); }
    50% { transform: translateX(50px); }
    100% { transform: translateX(0); }
}


@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

#typewriter-text::after {
    content: '|';
    animation: blink 1s infinite;
    color: white; 
    margin-left: 2px;
}

.hide-cursor::after {
    content: '';
    animation: none;
    display: none; 
}