body {
    background-color: black;
    color: white;
    font-family: 'Crimson Text', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-weight: 300;
}

p a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}

p a:hover {
    color: gray;
    text-decoration: underline;
}

.snowflake {
    position: absolute;
    top: -10px;
    color: white;
    font-size: 20px;
    opacity: 0.8;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}

@keyframes sway {
    0% { transform: translateX(0); }
    50% { transform: translateX(50px); }
    100% { transform: translateX(0); }
}
