<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cristianocastle</title>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="content">
        <h1>cristiano padilla castillo</h1>
        <p class="caption">studying computer science at long beach state</p>
        <p class="github-link">
            <a href="https://github.com/cristianocastle" target="_blank">
                <img src="{{ url_for('static', filename='github-icon.png') }}" alt="GitHub" style="width: 20px; height: 20px; margin-right: 8px;">
                github
            </a>
        </p>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>